@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
    }





























    .dropdown-menu {
       
      }
      
      .dropdown-item-danger {
        color: var(--bs-red);
      }
      .dropdown-item-danger:hover,
      .dropdown-item-danger:focus {
        color: #fff;
        background-color: var(--bs-red);
      }
      .dropdown-item-danger.active {
        background-color: var(--bs-red);
      }
      
     
      
     
     
      
      
      .w-220px {
        width: 190px;
      }
      

