
/* This file contains the media queries for the site */


@media screen and (max-width: 308px) {
    
  
    
    .trend-content {
       
        width: 500px;
        
        
    }
        
    
    }
    

@media screen and (max-width: 306px) {
   

}

    

    @media (max-width: 762px) {
       .father-div { 
       /*padding-bottom: 20px;*/
      
       }

       .event {
        width: 80%;
       /* border: 2px solid red;*/
       }

        .event-head {
            height: auto;
           /* border: 3px solid greenyellow;*/
            width: 100%;
        }

        .footbar {
            display: flex;
           color: #271770;
        }

        

       

        .event-head {
            overflow-y: visible;
            margin-bottom: 25px;
        }

     
    }


    @media (max-width: 767.98px) {
       
       

        .trending {
          
           height: auto;
           display: flex !important; 
           flex-direction: row !important;
          
          overflow-x: scroll;
           flex-wrap: nowrap !important;
           
           
        }


        .trend-head {
            width: auto;
           height: 200px;
         
  
            
          }
  
          .trend-content {
              width: 290px;
              height: 25vh;
              
              flex: 0 0 auto;
              margin-right: 15px;
          }
              
    }
    


    @media (min-width: 769.98px) {

        .trend-head {
          height: 98vh;
          overflow-y: scroll;
          
        }

    }


    @media (max-width: 575px) {

        .event {
            width: 98%;
            
           
           }
      

        

    }

    @media (max-width: 900px) {

    

    }