
/* This file contains the media queries for the site */

@media screen and (max-width: 308px) {
    
    .trend-content {
       
        width: 700px;
    
    }
        
    }
    
  

@media (max-width: 762px) {
       .event {
        width: 80%;
       /* border: 2px solid red;*/
       }

        .event-head {
            height: auto;
           /* border: 3px solid greenyellow;*/
            width: 100%;
        }

        .footbar {
            display: flex;
           color: #271770;
        }

        .event-head {
            overflow-y: visible;
            margin-bottom: 25px;
        }

     
    }


@media (max-width: 767.98px) {
        .trending {
          
           height: auto;
           display: flex !important; 
           flex-direction: row !important;
          gap: 2.5rem;
          overflow-x: scroll;
           flex-wrap: nowrap !important;
            
        }

        .trend-head {
            width: auto;
           height: 200px;
          }
  
          .trend-content {
              width: 350px;
              height: 23.4vh;
              
              flex: 0 0 auto;
              margin-right: 1px;
          }
   
    }
    


@media (min-width: 769.98px) {

        .trend-head {
          height: 98vh;
          overflow-y: scroll;
          
        }

    }


@media (max-width: 575px) {

        .event {
            width: 90%;
            
           
           }

    }

   