::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color:#473497;
}







body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


a {
  text-decoration: none !important;
  
}


.father-div {
    margin: 0;
}




.trend-content {
   border: none;
   height: 20vh;
   padding: 2px;
  background-image: url(./ball.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: contain;
   overflow: hidden;
   width: auto;
   margin: 0;
   transition: transform 0.3s ease;
     
}

 .trend-content:hover {
  transform: scale(1.02); 
}

.footbar {
    color: #271770;
    display: none;
    grid-row: 2;
    height: 55px;
    background-color: #FFFF;
    width: auto;
   border: none;
 }


 .trend {

 }
 
 
 .footbar div {
     
     width:25%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 2px;
     height: auto;
 }
 
 .navigate:focus, .navigate:hover {
  background-color: #271770 ;
  color: #FFFF;
 }
.event-head {
    overflow-y: scroll;
   height: 98vh;
}


.event {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
      transition: border-color 0.3s;
      position: relative;
   overflow: hidden;
    
}

.event:hover, .event:focus {
    border-color: purple;
      box-shadow: 0 0 12px purple;
}

.event::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 1px solid transparent;
    z-index: -1;
    transition: border-color 0.3s;
}

.event:hover::before,
.event:focus::before {
  border-color: purple;
  box-shadow: 0 0 1px purple;
}

.event:hover .event-card {
  transform: scale(1.02); /* Adjust the scale value for desired zoom effect */
}

.event-card{
    background-image: url(./ball.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    overflow: hidden;
    width: auto;
    height: 35vh;
    margin: 0;
    transition: transform 0.3s ease;
    
}


.eventtitle {
    overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
}

.top {
background: transparent;
background-color: transparent;
}

.date{
padding: 2px;
}


.bottom{

height: 15vh;
margin: 0;

}

.like-icon {
 

  cursor: pointer;
  transition: color 0.3s;
  
  
 
}

.like-icon.liked {
  color: red;
  
  text-shadow: 0 0 13px red;
}


.event-details {
  max-height: 60vh;
  overflow-y: scroll;
}



.slide-div {
    position: fixed;
    bottom: 95px;
    right: -100px; /* Initial position outside the viewport */
    transition: right 0.5s ease-out; /* Animation duration and easing */
  }
  
  .slide-div.show {
    right: 20px; /* Final position when shown */
    opacity: 1; /* Show the div */
  }
  
  .slide-div.hide {
    right: -100px; /* Hide the div */
    opacity: 0;
  }
  
  

.create-button {
   
    color: white;
    font-size: 16px;
    border: none;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 6px 7px 40px -4px
           rgb(152, 119, 189);
   background: #473497;
  
   
}


.create-icon {
  font-style: normal;
  font-size: 20px;
}

.upload-button {
        color: white;
        font-size: 16px;
        border: none;
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 6px 7px 40px -4px
                rgb(255, 255, 255);
                transition: right 0.5s ease-out;
                right: -100px;
}

.upload-button {
    right: 20px;
}









/*Here comes the code for the dashboard*/

.left-parent {
    height: 8vh;
}


.profile-details {
    height: 13vh;
    border-bottom: 1px solid rgba(0, 123, 255, .2);;
}

.profile-pic {
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
}

.dp {
    font-size: 16px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    
  
}




/* Style the file input container */
#file-input {
    position: absolute;
    opacity: 0;
   
   
  }
  
  /* Style the label */
  #file-label {
    display: inline-block;
    padding: 20px 20px;
    background-color: #e8e8e8;
    color: #333;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
  }
  
  /* Style the "No image chosen" text */
  #file-chosen {
    margin-left: 10px;
    color: #666;
  }
  
  /* Change the "Choose file" text */
  #file-input::file-selector-button::before {
    content: "Choose image";
  }
  
  
  /* Change the "No file chosen" text */
  #file-input::file-selector-button::after {
    content: "No image chosen";
  }
  